body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.zf-green {
    color: #68b604;
}

.btn-success {
  background-color: #57a900;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}

div.container a.brand {
    background: url("../images/zf2-logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}


/*.navbar li ul 	{
		display: none;  /* Hides the drop-down menu 
		height: auto;									
		margin: 0; /* Aligns drop-down box underneath the menu item
		padding: 0; /* Aligns drop-down box underneath the menu item 			
		}				

.navbar li:hover ul 	{
                        display: block; /* Displays the drop-down box when the menu item is hovered over 
                        }*/
                        
.navbar ul {
   /* font-family: Arial, Verdana;
    font-size: 14px;*/
    margin: 0;
    padding: 0;
    list-style: none;
}
.navbar ul li {
    display: block;
    position: relative;
    float: left;
}
.navbar li ul {
    display: none;
}
.navbar ul li a {
    display: block;
    text-decoration: none;
    color: #ffffff;
   /* border-top: 1px solid #ffffff;*/
    padding: 5px 15px 5px 15px;
   /* background: #1e7c9a; */
    margin-left: 1px;
    white-space: nowrap;
}
.navbar ul li a:hover {
 background: #3b3b3b; 
}
.navbar li:hover ul {
    display: block;
    position: absolute;
}
.navbar li:hover li {
    float: none;
    font-size: 11px;
}
.navbar li:hover a { background: #3b3b3b;  }
.navbar li:hover li a:hover {
    background: #68b604; /* #1e7c9a; */
}

